@page
@model UI.Pages.Templates.CreateModel
@{
}


<div class="row">
	<div class="col-sm-6">
		<div class="card">
			<div class="card-body">
				<form method="post">
					<h5 class="card-title">Input Template</h5>
					<label asp-for="Name"></label>
					<input type="text" asp-for="Name"/>
					<label>Select data models that will be used in preview</label>
					<select asp-for="ModelType" asp-items="Model.ModelTypes"></select>
					<textarea asp-for="Template" class="form-control" rows="3"></textarea>
					<button asp-page-handler="Preview" class="btn btn-primary">See result</button>
					<button asp-page-handler="Save" class="btn btn-primary">Save</button>
				</form>
			</div>
		</div>
	</div>
	@if (!string.IsNullOrEmpty(Model.Preview))
	{
		<div class="col-sm-6">
			<div class="card">
				<div class="card-body">
					@Html.Raw(@Model.Preview)
				</div>
			</div>
		</div>
	}
</div>