@page
@using UI.DataModels
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div>
	<ul>
		<li><a href="/Templates/Create">Create</a></li>
		<li><a href=""></a></li>
		<li><a href=""></a></li>
	</ul>

	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (TemplateRecord template in Model.Templates)
			{
				<tr>
					<td>@template.Name</td>
					<td>
						<form method="post">
							<button asp-page-handler="Edit" asp-route-name="@template.Name" asp-route-rawTemplate="@template.RawTemplate">Edit</button>
							<button asp-page-handler="Delete" asp-route-template="@template.Name">Delete</button>
						</form>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>