@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
	<form method="post" class="card p-3">
		<label>Select office</label>
		<select asp-for="CurrentOffice" asp-items="@Model.GetOffices()" onchange="this.form.submit()"></select>
	</form>
	
	@if (Model.Employees is not null)
	{
		<table class="table mt-5">
			<thead>
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Surname</th>
				<th scope="col">Delete</th>
			</tr>
			</thead>
			@foreach (var employee in Model.Employees)
			{
				<tr>
					<td>@employee.Name</td>
					<td>@employee.Surname</td>
					<td>
						<form method="post" asp-page-handler="Delete" asp-route-id="@employee.Id">
							<button class="btn btn-danger">Delete</button>
						</form>
					</td>
				</tr>
			}
		</table>
	}
</div>
